<!DOCTYPE html>
<html ng-cloak lang="en" ng-app="myApp">
    <head>
        <title>Main Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="css/selfcss.css">
    </head>
    <body ng-controller="myCtrl">
        <div class="container">
            <h2>Consulta:</h2>
            <div class="row">
                <div class="col-sm-4" ng-repeat="item in componentsView">
                    <dinamic-Label ng-if="item.type === 'Label'" name="{{item.varInScope}}"></dinamic-Label>
                    <dinamic-Combo ng-if="item.type === 'Combo'" name="{{item.varInScope}}"></dinamic-Combo>
                    <dinamic-Button ng-if="item.type === 'Button'" name="{{item.varInScope}}"></dinamic-Button>
                </div>
            </div>
        </div>
        <script src="jquery/jquery.min.js"></script>
        <script src="angular/angular.min.js"></script>
        <script src="Controller/static/constans.js"></script>
        <script src="Controller/HtmlBuilder/HeadBuilder.js"></script>
        <script src="Controller/controller.js"></script>
        <script src="Controller/Object/label.js"></script>
        <script src="Controller/Object/combo.js"></script>
        <script src="Controller/Object/button.js"></script>
        <script src="Controller/building/builder.js"></script>
        <script src="Controller/Directives/directive.js"></script>
    </body>
</html>
