<!DOCTYPE html>
<html ng-cloak lang="en" ng-app="myApp">
    <head>
        <title>Main Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="css/selfcss.css">
    </head>
    <body ng-controller="myCtrl">
        <div class="container">
            <h2>Consulta:</h2>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-6">
                    <select ng-model="selecValue" class="form-control">
                        <option ng-repeat="OPT in selecData track by $index" value="{{OPT}}">{{OPT}}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <div class="well well-sm">
                        {{dataLabel}}
                    </div>
                </div>
                <div class="col-sm-1">
                    <button ng-click="sendInformation()" class="btn btn-info">
                        Consultar
                    </button>
                </div>
                <div class="col-sm-1">
                    <button ng-click="sendDataChanged()" class="btn btn-info">
                        Guardar
                    </button>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10" >
                    <div>
                        <center>
                            <image ng-src="{{ fl && 'img/loader.gif' || 'img/transparent.gif' }}" ng-style="fl && styleLoader || styleTrans"/>
                        </center>
                    </div>
                    
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Indice</th>
                                <th ng-repeat="COL in tableHead track by $index">{{COL}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  ng-repeat="ROW in tableData" >
                                <td ng-init="rowNum = $index" style="cursor: not-allowed;">{{$index + 1}}</td>
                                <td ng-repeat="COL in tableHead track by $index" editable-Tr row="{{rowNum}}" field="{{COL}}" ng-if="COL != 'Editado'" >{{ROW[COL].VALUE}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <editable-Tr></editable-Tr>
        </div>
        
        
        <script src="jquery/jquery.min.js"></script>
        <script src="js/xml2json.min.js"></script>
        <script src="bootstrap/bootstrap.min.js"></script>
        <script src="angular/angular.min.js"></script>
        <script src="js/constans.js"></script>
        <script src="js/controller.js"></script>
    </body>
</html>
